<!DOCTYPE HTML>

<html>
<head>
	<title>Gamer's Grub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
	
	
	{{mymap.js}}
</head>
<body class="landing">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index.html">Gamers Grub</a></h1>
						<!--
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					-->
				</header>

				<!-- Banner -->
				<section id="banner">
					<div class="inner">
						<h2>Gamers Grub</h2>
						<p>Find Gaming Parlor's<br />
							
							near you.</p>
							<!--
							<ul class="actions">
								<li><a href="#" class="button special">Activate</a></li>
							</ul>
						-->
					</div>
					<a href="#one" class="more scrolly">Learn More</a>
				</section>

				<section id="event-showcase" class="wrapper alt style2">
					
					<a href="https://goo.gl/forms/X2tjmRPRj6P9Uy9a2">
						<div class="event">
						</div>
					</a>
					<!-- <a href="https://ibb.co/ht43yF"><img class="cover" src="https://preview.ibb.co/iJxdXa/event.jpg" alt="event" border="0"/></a> -->
					
					
				</section>


				<section id="two" class="wrapper alt style4">
					<section class="spotlight">
						<div class="map">

							{{mymap.html}}

						</div>
						<div class="content" align="left">
							<center>
								<h3>Choose location 
								</h3>

								<form action="#two" class="form-inline" method="Post">

									<input type="text" size="50" name="search"><br/>

									
									<input type="submit"  class="special" value="Submit">
									
								</form>
								<center>
								</div>
							</section>


						<!--
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Tortor dolore feugiat<br />
								elementum magna</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Augue eleifend aliquet<br />
								sed condimentum</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
					-->
				</section>


				<!-- One -->
				<section id="one" class="wrapper style1 special">
					<div class="inner">
						<header class="major">
							<h2>What is Gamer's Grub?<br />
							</h2>
							<p>We intend to help Gamer's find a place to experience their true<br />
								gaming nirvana as easily as gamingly possible.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-gamepad major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-map major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-heart major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>


					

					<section id="jumbo" class="wrapper style2">

						<div class="slide-show">
							<img class="mySlides" src="https://www.flaktest.com/wp-content/uploads/2017/03/esports_1865bxip41wbt1qzxagwf18x67.jpg" height="500px" width="100%">
							<img class="mySlides" src="http://pixelkin.org/wp-content/uploads/2014/06/esports.jpg" height="500px" width="100%" >
							
						</div>
						

						<script>
							var myIndex = 0;
							carousel();

							function carousel() {
								var i;
								var x = document.getElementsByClassName("mySlides");
								for (i = 0; i < x.length; i++) {
									x[i].style.display = "none";  
								}
								myIndex++;
								if (myIndex > x.length) {myIndex = 1}    
									x[myIndex-1].style.display = "block";  
								setTimeout(carousel, 5000); 
							}
						</script>

					</section>




					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Get in touch with us!</h2>
								<p>We are a team of passionate gamer's who wish to bring the eSport's<br />
									scene to a greater stage within India.
								</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Contact Us</h3>
									<p>Drop us an email at grubbingongames@gmail.com,<br/>
									rawatsinghaditya@gamersgrub.online</p>

								</li>
								<li class="icon fa-steam">
									<h3>Add us on Steam</h3>
									<p>Find us  
										<a href="http://steamcommunity.com/id/Gamersgrub/">here</a></p>
									</li>
								<!--
								<li class="icon fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								
								<li class="icon fa-headphones">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							-->
						</ul>
					</div>
				</section>
				
				



				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/grubbingongames/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>

						<li><a href="http://steamcommunity.com/id/Gamersgrub/" class="icon fa-steam"><span class="label">Steam</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Gamer's Grub</li>
					</ul>
				</footer>

			</div>

			<!-- Scripts -->
			<script   src="https://code.jquery.com/jquery-3.2.1.slim.min.js"   integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="   crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>

		</body>
		</html>